/*
# =====================================================================================
# Projeto RR-Nexus
# Versão: 1.0.0
# Autor(es): Elisa / FrontEnd
# Data: 02/11/2025
# Descrição: Definição de estilo global para o frontend.

# Alteração: Inserção da fonte.
# =====================================================================================
*/

/* 1.0 Fonte do projeto ------------------------------------------- */
@font-face {
  font-family: 'Inter';
  src: url('assets/fonts/Inter.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Baseet';
  src: url('assets/fonts/Baseet.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

/* @type postcss */
@tailwind base;
@tailwind components;
@tailwind utilities;


/* 2.0 Customização de Imagens -----------------------------------------*/
.flip-horizontal {
  transform: scaleX(-1);
}