<footer class="w-full bg-nexus-darkest text-nexus-lavender py-12 px-8">
  
  <div class="flex flex-col items-center justify-center gap-6">

    <div class="flex items-start justify-center gap-12 md:gap-8">

      <a 
        href="https://github.com/AlphaCompLabs/Projeto-RR-Nexus" 
        target="_blank" 
        rel="noopener noreferrer" 
        class="flex flex-col items-center gap-2 hover:opacity-80 transition-opacity">
        
        <img src="assets/images/github.svg" alt="GitHub" class="w-12 h-12">
      </a>

      <a 
        href="https://github.com/AlphaCompLabs" 
        target="_blank" 
        rel="noopener noreferrer" 
        class="flex flex-col items-center gap-2 hover:opacity-80 transition-opacity">
        
        <img src="assets/images/alpha-comp-labs.svg" alt="Alpha-Comp-Labs" class="w-16 h-16">
      </a>

    </div> 
    
    <p class="font-inter text-sm mt-0">
      Redes de Computadores - IESB, 2025
    </p>

  </div> 
</footer>