<div class="h-full flex flex-col justify-between text-white font-inter">

  <div class="text-center pt-8 px-8">
    <img src="assets/images/logo.svg" alt="Logo RR-Nexus" class="w-72 mx-auto"> 
    <p class="text-xs text-white font-semibold tracking-widest">SESSÕES CONTÍNUAS</p>
  </div>

  <div class="flex flex-col items-center gap-y-6 px-8">
    
    <div class="relative flex flex-col items-center justify-center w-[200px] h-[200px]">
      
      <img src="assets/images/circle.svg" alt="" class="absolute w-[200px] h-[200px] opacity-50 z-0">
      
      <div class="relative z-10 text-center">
        
        <h2 class="font-baseet text-2xl text-nexus-white font-semibold">PERFIL</h2>
  
        <div class="text-center mt-4">
          <h3 class="font-inter text-sm text-nexus-pink-light font-semibold">PARA TESTAR O PROJETO:</h3>
          <ul class="list-disc list-inside text-left text-nexus-pink-light text-sm mt-2">
            <li>Apague o cache do DNS.</li>
            <li>Recarregue a página.</li>
          </ul>
        </div>

      </div> 
    </div> 
    
    <button (click)="logout()" class="bg-nexus-purple text-white py-2 px-6 rounded-lg flex items-center space-x-2 hover:bg-nexus-purple-deep transition-colors duration-300 font-baseet font-semibold">
      <span>Sair</span>
      <img src="assets/images/exit.svg" alt="Sair" class="w-5 h-5">
    </button>
  </div> 
  
  <div class="flex flex-col items-center justify-center gap-6 bg-nexus-purple-dark p-8">
    <div class="flex items-center justify-center gap-8">
      
      <a href="https://github.com/AlphaCompLabs/Projeto-RR-Nexus" target="_blank" rel="noopener noreferrer" class="hover:opacity-80 transition-opacity">
        <img src="assets/images/github.svg" alt="GitHub" class="w-12 h-12">
      </a>
      
      <a href="https://github.com/AlphaCompLabs" target="_blank" rel="noopener noreferrer" class="hover:opacity-80 transition-opacity">
        <img src="assets/images/alpha-comp-labs.svg" alt="Alpha-Comp-Labs" class="w-16 h-16">
      </a>
      
    </div>

    <p class="font-inter text-xs text-nexus-lavender text-center">
      Redes de Computadores<br>IESB, 2025
    </p>
  </div> 
</div>